@font-face { font-family: "Din-Condensed-light"; src: url("../fonts/Din-Condensed-light.eot"); src: url("../fonts/Din-Condensed-light.eot?#iefix") format("embedded-opentype"), url("../fonts/Din-Condensed-light.woff2") format("woff2"), url("../fonts/Din-Condensed-light.woff") format("woff"), url("../fonts/Din-Condensed-light.ttf") format("truetype"); font-weight: 300; font-style: normal }
@font-face { font-family: "Din-Condensed-bold"; src: url("../fonts/Din-Condensed-bold.eot?#iefix"); src: url("../fonts/Din-Condensed-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Din-Condensed-bold.woff2") format("woff2"), url("../fonts/Din-Condensed-bold.woff") format("woff"), url("../fonts/Din-Condensed-bold.ttf") format("truetype"); font-weight: normal; font-style: normal }
h1, h2, h5, .bold, .table thead th, .condensed { font-family: "Din-Condensed-bold" }
body, h3, h4, h6, p, label, input, span, div, table, td, tr, ul, li, ol, .light { font-family: "Din-Condensed-light" }
a { color: #ff7d00; -webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; -o-transition: all 0.15s ease-in-out; -ms-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out }
a:hover, a:focus { color: #cd4b00 }
body { background-color: #f3efee }
body, .accordion-title { font-size: 18px; line-height: 1.25; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.color-text-corporate { color: rgb(5, 55, 60) }
.color-bg-white-green { background-color: #e6ebeb }
.color-bg-dark-green {background-color: #05373c}
.color-bg-light-green { background-color: #375f63 }
.color-text-orange { color: rgb(255, 125, 0) }
.color-bg-orange { background-color: rgb(255, 125, 0) }
.color-text-white { color: rgb(255, 255, 255) }
.color-text-black { color: rgb(0, 0, 0) }


.full-height { height: 100% }
.full-width { width: 100% }
.cover-height { height: 100vh }
.h90-height { min-height: 90vh }
.font-9 { font-size: 9px }
.font-10 { font-size: 10px }
.font-11 { font-size: 11px }
.font-12 { font-size: 12px }
.font-13 { font-size: 13px }
.font-14 { font-size: 14px }
.font-15 { font-size: 15px }
.font-16 { font-size: 16px }
.font-17 { font-size: 17px }
.font-18 { font-size: 18px }
.font-19 { font-size: 19px }
.font-20 { font-size: 20px }
.font-22 { font-size: 22px }
.font-21 { font-size: 21px }
.font-24 { font-size: 24px }
.font-28 { font-size: 28px }
.font-30 { font-size: 30px }
.font-35 { font-size: 35px }
.font-36 { font-size: 36px }
.font-40 { font-size: 40px }
.font-50 { font-size: 50px }
.font-53 { font-size: 53px }
.font-60 { font-size: 60px }
.font-68 { font-size: 68px }
.infoparams{word-break: break-all;}
.case-none, .case-sentence { text-transform: none }
.case-upper { text-transform: uppercase }
.case-lower { text-transform: lowercase }
.case-proper { text-transform: capitalize }
.align-center { align-items: center }
.text-center { text-align: center }
.text-left { text-align: left }
.text-justify { text-align: justify }
.no-margin { margin: 0 }
.no-top-margin { margin-top: 0 }
.tiny-top-margin { margin-top: 5px }
.small-top-margin { margin-top: 15px }
.medium-top-margin { margin-top: 25px }
.high-top-margin { margin-top: 45px }
.large-top-margin { margin-top: 60px }
.extra-top-margin { margin-top: 90px }
.no-right-margin { margin-right: 0 }
.tiny-right-margin { margin-right: 5px }
.small-right-margin { margin-right: 15px }
.medium-right-margin { margin-right: 25px }
.high-right-margin { margin-right: 45px }
.large-right-margin { margin-right: 60px }
.extra-right-margin { margin-right: 90px }
.no-bottom-margin { margin-bottom: 0 }
.tiny-bottom-margin { margin-bottom: 5px }
.small-bottom-margin { margin-bottom: 15px }
.medium-bottom-margin { margin-bottom: 30px }
.high-bottom-margin { margin-bottom: 45px }
.large-bottom-margin { margin-bottom: 60px }
.extra-bottom-margin { margin-bottom: 90px }
.no-left-margin { margin-left: 0 }
.tiny-left-margin { margin-left: 5px }
.small-left-margin { margin-left: 15px }
.medium-left-margin { margin-left: 25px }
.high-left-margin { margin-left: 45px }
.large-left-margin { margin-left: 60px }
.extra-left-margin { margin-left: 90px }
.no-padding { padding: 0 !important }
.no-top-padding { padding-top: 0 }
.tiny-top-padding { padding-top: 5px }
.small-top-padding { padding-top: 15px }
.medium-top-padding { padding-top: 25px }
.high-top-padding { padding-top: 45px }
.large-top-padding { padding-top: 60px }
.extra-top-padding { padding-top: 90px }
.no-right-padding { padding-right: 0 }
.tiny-right-padding { padding-right: 5px }
.small-right-padding { padding-right: 15px }
.medium-right-padding { padding-right: 25px }
.high-right-padding { padding-right: 45px }
.large-right-padding { padding-right: 60px }
.extra-right-padding { padding-right: 90px }
.no-bottom-padding { padding-bottom: 0 }
.tiny-bottom-padding { padding-bottom: 5px }
.small-bottom-padding { padding-bottom: 15px }
.medium-bottom-padding { padding-bottom: 30px }
.high-bottom-padding { padding-bottom: 45px }
.large-bottom-padding { padding-bottom: 60px }
.extra-bottom-padding { padding-bottom: 90px }
.no-left-padding { padding-left: 0 }
.tiny-left-padding { padding-left: 5px }
.small-left-padding { padding-left: 15px }
.medium-left-padding { padding-left: 25px }
.high-left-padding { padding-left: 45px }
.large-left-padding { padding-left: 60px }
.extra-left-padding { padding-left: 90px }
.relative { position: relative }
.absolute { position: absolute }
.bottom { bottom: 0 }
.top { top: 0 }
.opacity { opacity: 1 !important }
.p-none { padding-left: 0; padding-right: 0 }
.p-small { padding-left: 8px; padding-right: 8px }
.padding-30 { padding: 0 30px }
.line-height { line-height: 1 }
.lg-line-height { line-height: 50px }
.contain { background-repeat: no-repeat; background-position: center center; background-size: contain }
.cover { background-repeat: no-repeat; background-position: center center; background-size: cover }
.center-center { background-position: center center }
.right-center { background-position: right center }
.left-center { background-position: left center }
.no-repeat { background-repeat: no-repeat }
.lazy { background-image: url(../images/loader.svg) }
div.aloader.on { height: 75px; left: 0; right: 0; margin-left: 0; margin-right: 0; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%); position: absolute; z-index: 99999; background-image: url(../images/loader.svg); background-repeat: no-repeat; background-position: center center; }
body.dark {background-color: rgba(0, 0, 0, 0.15) !important; position: relative}
.profile-picture { width: 83px; height: 47px; background-size: contain }
.btn-primary { background-color: #05373c; border-color: #05373c }
.btn-primary:hover { background-color: #1e5055; border-color: #1e5055 }
.btn-secondary { background-color: #ff7d00; border-color: #ff7d00 }
.btn-secondary:hover { background-color: rgba(255, 125, 0, .85); border-color: rgba(255, 125, 0, .85) }
.feather { width: 18px; height: 18px; vertical-align: text-bottom }
.sidebar { position: fixed; top: 0; bottom: 0; left: 0; z-index: 100; padding: 62px 0 0; box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1) }
.sidebar-sticky { position: relative; top: 0; height: calc(100vh - 48px); padding-top: .5rem; overflow-x: hidden; overflow-y: auto }
.btn { border-radius: 0 }
.hide{display: none}
.show{display: block}
h2.r-solution .feather { width: 40px; height: 40px }
select { height: 48px; font-size: 18px; margin: 0 0 1.25rem; background-color: transparent; min-width: 100% }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active { color: #fff; background-color: #ff7d00; border-color: #ff7d00 }
.nav-tabs .nav-link { border-right: 1px solid #dee2e6; color: #05373c; border-top-left-radius: 0; border-top-right-radius: 0 }
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover { border-color: #05373c; background-color: #05373c; color: #fff }
.v-middle { position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 50%; -ms-transform: translateY(-50%); transform: translateY(-50%) }
.form-signin { width: 100%; max-width: 420px; background: #fff; padding: 3rem }
.form-label-group { position: relative; margin-bottom: 1rem }
.form-label-group > input, .form-label-group > input[type="password"], .form-label-group > textarea, .form-label-group > label { padding: .75rem }
.form-label-group > label { text-align: center !important; text-transform: uppercase; font-weight: normal; position: absolute; top: 0; left: 0; display: block; width: 100%; margin-bottom: 0; line-height: 1.5; color: #0a0a0a; pointer-events: none; cursor: text; border: 1px solid transparent; border-radius: .25rem; transition: all .1s ease-in-out }
.form-label-group input::-webkit-input-placeholder, .form-label-group textarea::-webkit-input-placeholder { color: transparent }
.form-label-group input:-ms-input-placeholder, .form-label-group textarea:-ms-input-placeholder { color: transparent }
.form-label-group input::-ms-input-placeholder, .form-label-group textarea::-ms-input-placeholder { color: transparent }
.form-label-group input::-moz-placeholder, .form-label-group textarea::-moz-placeholder { color: transparent }
.form-label-group input::placeholder, .form-label-group textarea::placeholder { color: transparent }
.form-label-group input:not(:placeholder-shown), .form-label-group textarea:not(:placeholder-shown) { padding-top: 1.25rem; padding-bottom: .25rem }
.form-label-group input:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:placeholder-shown) ~ label { padding-top: .25rem; padding-bottom: .25rem; font-size: 12px; color: #777 }
.form-control { text-align: center; height: 48px; display: block; width: 100%; padding: .375rem .75rem; font-size: 16px; line-height: 1.5; color: #0a0a0a; background-color: transparent; background-clip: padding-box; border: 1px solid #bebbb9; border-radius: 0; transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out }
tr.retail-solution .form-control, tr.retail-solution .form-label-group > label { text-align: left !important }
tr.retail-solution .form-label-group, tr.retail-solution td select { margin-bottom: 0 }
.table tbody td, .table thead th { vertical-align: middle }
div.tab-pane { padding: 15px; background-color: #fff }
.dropdown-menu { left: initial; right: 0; background-color: #04292d; border: 1px solid #04292d; border-radius: 0 }
.dropdown-item:focus, .dropdown-item:hover { color: #f3efee; background-color: #05373c }
input.addbtn {min-width: 90px}
.close {font-size: 45px;line-height: 25px}
tr.retail-solution td {line-height: 57px}
a.ap{margin-right:10px;cursor: pointer}
ul.added-product{margin:0;padding:0;display:inline-block}
ul.added-product li{display:inline-block;margin-right:10px;padding-left:15px;padding-right:40px;background-color:#ff7d00;color:#fff;line-height:35px;border-radius:20px;position:relative;}
span.p-del{background:url(../images/x-circle.svg)}
span.p-del:hover{background:url(../images/x-circle-hover.svg)}
span.p-del, span.p-del:hover{background-size:contain;background-position:center center;background-repeat:no-repeat;display:inline-block;width:25px;margin-left:10px;height:35px;color:#fff;position:absolute;cursor:pointer}
button.add-product.disabled {pointer-events: none}
li.localization{margin:14px 0}
li.localization a{line-height:1}
@supports (-ms-ime-align:auto) {
	.form-label-group > label { display: none }
	.form-label-group input::-ms-input-placeholder { color: #777 }
}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
	.form-label-group > label { display: none }
	.form-label-group input:-ms-input-placeholder { color: #777 }
}

input[type=checkbox]:checked + .slider { background-color: #05373c }
input[type=checkbox]:focus + .slider { box-shadow: 0 0 1px #2196F3 }
input[type=checkbox]:checked + .slider:before {background-color: #ff7d00; -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px) }

.shadow { -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important; box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important }
.condensed { color: #3b3937; font-size: 18px; font-style: normal; font-weight: normal; text-rendering: optimizeLegibility; text-transform: uppercase }
.btn-primary.disabled, .btn-primary:disabled { color: #05373c; background-color: #e7e3e2; border-color: #bebbb9 }

@supports ((position:-webkit-sticky) or (position:sticky)) {
	.sidebar-sticky { position: -webkit-sticky; position: sticky }
}


footer{padding:30px}

body.dashboard footer.sticky-footer{margin-left: 16.666667%}
.activate{bottom:15px;padding:20px;left:15px; width: 90%}
.navbar-brand { font-size: 20px; padding-top: 1.15rem; padding-bottom: 1.15rem; background-color: rgba(0, 0, 0, .25); box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25) }
.navbar .form-control { padding: .75rem 1rem; border-width: 0; border-radius: 0 }
.form-control-dark { color: #fff; background-color: rgba(255, 255, 255, .1); border-color: rgba(255, 255, 255, .1) }
.form-control-dark:focus { border-color: transparent; box-shadow: 0 0 0 3px rgba(255, 255, 255, .25) }
.validation{border: 1px solid red !important;}
.no-text-transform{text-transform: none !important};

::-webkit-scrollbar { width: 5px }
::-webkit-scrollbar-track { background: #f1f1f1; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) }
::-webkit-scrollbar-thumb { background: #888 }
::-webkit-scrollbar-thumb:hover { background: #555 }